
{
  "root": true,
  "parser": "babel-eslint",
  "extends": "airbnb-base",
  "globals": {
    "describe": false,
    "it": false,
    "beforeEach": false,
    "afterEach": false,
    "before": false,
    "after": false
  },
  "env": {
    "node": true,
    "es6": true
  },
  "plugins": [
  ],
  "rules": {
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "no-underscore-dangle": ["error", { "allow": ["__"] }],
    "no-await-in-loop": 0,
    "no-loop-func": 0,
    "func-names": 0,
    "class-methods-use-this": 0,
    "no-console": 0,
    "global-require": 0,
    "import/no-dynamic-require": 0,
    "no-param-reassign": 0,
    "comma-dangle": [2, "never"],
    "strict": [0, "global"]
  }
}
